<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#recommend_stocks").click(function (event) { $.getJSON('/recommend_stocks', { },
    function(data) { }); return false; }); }); </script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Stock Screener</title>
    <h1 style="font-family:sans-serif; text-align:center">Stock Screener</h1>
    <p style="font-family:sans-serif; text-align: center">A stock screener that can analyze your watchlist and send recommended stocks to a telegram channel.</p>
</head>

<body>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 mx-auto">
                <button class="btn btn-primary" type="submit" id="recommend_stocks" style="font-family:sans-serif; text-align:center; width:100%; justify-content: center; display: flex;  align-items: center; ">Recommend Stocks</button>
            </div>
        </div>
    </div>
    <br>
    </body>


</html>